dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.DS_Store

### Scala ###
*.class
*.log
.idea/*
### sesssion 1 files ###

session-1/.DS_Store
session-1/intro/.DS_Store
session-1/intro/src/.DS_Store
session-1/intro/src/main/.DS_Store
